$base-font-size     : 1em;
$base-text-color    : #000000;
$base-link-color    : #000000;
$base-hdr-color     : #000000;
$base-line-height   : 1.3;

/* Breakpoints */
$breakpoint-small : 500px;
$breakpoint-large : 960px; 

/* Fonts */
$font-primary:  "Source Sans Pro", Arial, sans-serif;
$font-secondary:  "Droid Serif", Times, serif;

/* Colours and Theme */
$color-a: lightblue;  //#0fd
$color-b: black;     //#fff
$color-c: lightgrey;

$fcolor-a: white;
$fcolor-b: black;
$fcolor-c: #F5AEFD;
/* sizes */
$large: 3rem;
$medium: 1.7rem;
$small: 1.2rem;
$smaller: 0.9rem;